$primary-color: #f9311f;
// $primary-color: #ff5100; 
$secondary-color: #fde3be;
$background-color: #e6fcfe;

$primary-text-color: #012528;

$primary-accent-color: #ea0665;




:export{
    primaryColor: $primary-color;
    primaryTextColor: $primary-text-color;

}